.inp {
    width: 90%;
    height: 30px;
}


.divTodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}
.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
}
.complitedTodo {
    text-decoration: line-through;
    font-size: 20px;
    color: white;
}

.contentComplited {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: line-through;
    font-size: 20px;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    color: white;
    p {
        margin-right: 10px;
    }
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;

    button {
        width: 100px;

    }
}

.container {
    width: calc(100% - 400px);
    height: 100vh;
    position: relative;
}

.todoContainer {
     :hover {
        color: white;
        background-color: black;
        opacity: 0.7;
     }
}

.imgRemove{
    width: 30px;
    height: 30px;
}