
    .container {
        width: calc(100% - 200px);
        height: 100vh;
        background-image: url(/src/assets/img/windowsImg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow-y: scroll;
    }

.content {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.content:hover {
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 10px; 
    p {
        margin-right: 10px;  
    }
}
.imgRemove{
    width: 30px;
    height: 30px;
}