.navLink {
    text-decoration: none;
    color: red;
    font-size: 26px;
    margin-top: 20px;
}

.navLink:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 400px;
}