.navLink {
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin-top: 20px;

}

.navLink:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 400px;

    :hover {
        color: white;
    }
}

.divNavlink {
    height: 50px;

}
.divNavlink:hover {
    background-color: black;
    opacity: 0.5;
}